# Data Science Tools and Ecosystem

## Author
Ricci Doddz Caro Juaman

## Author
Ricci Doddz Caro Juaman

In this notebook, we offer a comprehensive overview of essential Python libraries and tools commonly used in data analysis, visualization, and machine learning within the broader Data Science ecosystem.

**Objectives:**
* List of Popular Languages for Data Science
* List of commonly used libraries for Data Scicence
* List of Data Science Tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
|RStudio |
|Apache Spark|
|Apache Hadoop|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335